
@{
    ViewBag.Title = "Ayuda";
}

<h2>
    Ayuda
</h2>

<h3>Diagrama de navegación</h3>
<div >
    <img src="~/Images/navegacion.png" class="diagrama-navegacion" alt="Diagrama de navegacion" />
</div>

