
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<h3>
    Este modulo de Presupuestos fue desarrollado para MyFEPS,  permite al usuario del sistema realizar un presupuesto para
    proyectos de clientes asignando Tereas, Sub Tareas, Recursos y Cargas Horarias y calcular el costo de los mismos.
</h3>

<h3>
    Fue desarrollado por Mariano Martin, Gabriel Ferreira y Nereo Candenas como trabajo final de la materia Ingenieria de
    Software II, dictada en el turno Noche de la carrera 501 por la profesora Paula Angeleri.
</h3>
