
@{
    ViewBag.Title = "Presupuestador - MyFEPS";
}

<h1>Presupuestador - MyFEPS</h1>

<div>
    <p>
        Módulo soporte para aplicación MyFEPS. Permite al usuario calcular presupuestos utilizando diferentes herramientas como categorías y tareas para un Proyecto particular.
    </p>
    <p>
        Fue desarrollado por los alumnos de Ingeniería de Software II como trabajo final de la materia perteneciente a la carrera Licenciatura en Sistemas.
    </p>
</div>

<div>
    <h3>Profesora</h3>
    <strong>Lic. Paula Angeleri</strong>
</div>
<div>
    <h3>Integrantes</h3>
    <ul>
        <li>11222 - Ferreira, Gabriel Ignacio</li>
        <li>11221 - Martín, Mariano Daniel</li>
        <li>11219 - Candenas, Nereo Norberto</li>
        <li>11300 - Navarro, Francisco Jorge</li>
    </ul>
</div>


