
@{
    ViewBag.Title = "Index";
}

<h2>Presupuestador - MyFEPS</h2>

<h3>
    Este modulo de Presupuestos fue desarrollado para MyFEPS,  permite al usuario del sistema realizar presupuestos para
    proyectos. Permite la asignación de Tereas/Sub Tareas, Recursos y Cargas Horarias y permitiendo calcular el costo total.
</h3>

<h3>
    Fue desarrollado por Mariano Martin, Gabriel Ferreira y Nereo Candenas como trabajo final de la materia Ingenieria de
    Software II de la carrera 501.
</h3>

<h3>
    Profesora: Paula Angeleri
    <br />
    Integrantes del Grupo:
    <br />
    
    <div style="margin-left: 250px;">
        11222 - Gabriel Ignacio Ferreira<br />
        11221 - Mariano Daniel Martín<br />
        11219 - Nereo Norberto Candenas<br />
        11300 - Francisco Jorge Navarro<br />
     </div>

</h3>


