@model Presupuestador.ViewModels.TareaViewModel
@using (Html.BeginCollectionItem("TareasAsignadas"))
{
    <li id="li-@Model.TareaId" class=""><label>Tarea: </label>@Model.Descripcion <span style="cursor:pointer;" class="glyphicon glyphicon-remove" data-tooltip="tooltip" data-placement="bottom" title="Remover" onclick="RemoverTarea(@Model.TareaId)"></span></li>
    @Html.HiddenFor(x => x.TareaId, new { id = "hdn-tareaid-" + Model.TareaId })
    @Html.HiddenFor(x => x.Descripcion, new { id = "hdn-anombre-" + Model.TareaId })
}