@model IEnumerable<Presupuestador.Models.Plantilla>

@{
    ViewBag.Title = "Plantillas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plantillas</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)

        </td>
        <td>
            <span class="glyphicon glyphicon-pencil" data-tooltip="tooltip" data-placement="bottom" title="Editar" onclick="location.href='@Url.Action("Edit", new {id= item.id})'"></span>
            <span class="glyphicon glyphicon-trash" data-tooltip="tooltip" data-placement="bottom" title="Eliminar" onclick="location.href='@Url.Action("Delete", new {id= item.id})'"></span>
        </td>
      </tr>
        }

</table>

<p>
    @Html.ActionLink("Crear Plantilla", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</p>
